{% extends 'base.html.twig' %}

{% block title %}New Hotel{% endblock %}
{% block section %}

 <header>
        <!-- Votre en-tête ici -->
    </header>

    <div class="container">
            <h1 class="text-center">Entrer nouvel Hotel</h1>

        <div class="form-container">
            {{ include('hotel/_form.html.twig') }}
        </div>

        <a href="{{ path('app_hotel_index') }}">back to list</a>
    </div>
    
{% endblock %}
{% block body %}
   
    
{% endblock %}

