{% extends 'Back/base.html.twig' %}

{% block title %}Edit Commande{% endblock %}

{% block main %}
    <h1>Edit Commande</h1>

    {{ include('Back/commande/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_commande_index_back') }}">back to list</a>

    {{ include('Back/commande/_delete_form.html.twig') }}
{% endblock %}
