{% extends 'base.html.twig' %}

{% block title %}Liste des clients{% endblock %}

{% block body %}
    <h1>Liste des clients</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Email</th>
                <th>Genre</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
                <tr>
                    <td>{{ client.nom }}</td>
                    <td>{{ client.email }}</td>
                    <td>{{ client.genre }}</td>
                    <td>{{ client.age }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}