<div class="container">
    <p>
        Merci de vous être inscrit sur E-City. Pour vérifier votre compte professionnel, veuillez cliquer sur le lien ci-dessous :
    </p>
<a href="http://127.0.0.1:8000/check-email/verify-email/{{ user.id }}">Vérifier mon compte professionnel</a>
</div>