{% extends 'Front/base.html.twig' %}

{% block title %}new Reservation {% endblock %}
{% block section %}
            <h1 class="text-center">Entrer une  Reservation - Hotel {{ hotel.getNomHotel }}</h1>


    {{ include('Front/reservation/_form.html.twig') }}

    
    <a href="{{ path('app_reservation_index') }}">retour au Tableau </a>
{% endblock %}
{% block body %}
{% endblock %}
