{% extends 'Front/base.html.twig' %}

{% block title %}new Reservation {% endblock %}
{% block section %}
            <h1 class="text-center" , style="font-weight: bold; color: #2f64b1; text-align: center;">Entrer une  Reservation </h1>



    {{ include('Front/reservation/_form.html.twig') }}

    
    <a href="{{ path('app_reservation_index') }}">
    
   <span class="icon"> retour au list ➡ </span> 
     </a>
{% endblock %}
{% block body %}
{% endblock %}
