{% extends 'Back/base.html.twig' %}

{% block title %}New Hotel{% endblock %}
{% block main %}

 <header>
        <!-- Votre en-tête ici -->
    </header>

              &nbsp;
    <div class="container">
        <div class="row justify-content-end">
            <div class=" text-center">
                <h1 style="font-family: Arial, sans-serif; color: black; font-size: 35px;">Ajouter hotel :</h1>
            </div>
           

</div>

        <div class="form-container">
            {{ include('Back/hotel/_form.html.twig') }}
        </div>

        
    </div>
    
{% endblock %}
{% block body %}
   
    
{% endblock %}

