{% extends 'Back/base.html.twig' %}

{% block title %}Edit Hotel{% endblock %}
{% block main %}

            <h1 class="text-center">modifier hotel</h1>



    {{ include('Back/hotel/_form.html.twig', {'button_label': 'modifier'}) }}

    <a href="{{ path('app_hotel_index') }}">retour au liste</a>

  {#  {{ include('Back/hotel/_delete_form.html.twig') }}#}
    {% block body %}
{% endblock %}
{% endblock %}
