{% extends 'base.html.twig' %}

{% block title %}E-city{% endblock %}
{% block section %}
   <h1>Create new Client</h1>

    {{ include('client/_form.html.twig') }}

    <a href="{{ path('app_client_index') }}">back to list</a>
{% endblock %}
{% block body %}

{% endblock %}
