{% extends 'Front/base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}
{% block section %}
{% if message is defined %}
    <div>{{ message }}</div>
{% endif %}
{% endblock %}
{% block body %}
{% endblock %}
{# Afficher le formulaire ici si nécessaire #}