{% extends 'Front/base.html.twig' %}

{% block title %}Edit Commande{% endblock %}

{% block section %}
    <h1>Edit Commande</h1>

    {{ include('Front/commande/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_commande_index') }}">back to list</a>

    {{ include('Front/commande/_delete_form.html.twig') }}
{% endblock %}
