{% extends 'Back/base.html.twig' %}
{# templates/task/new.html.twig #}

{% block main %}
  &nbsp;
<h1 class="text-center mb-4"> Créer un nouvel medecin</h1>
<div style="display: flex; align-items: center;">

    <div style="margin-right: 159px;">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'style': 'margin: 90px;'}}) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    <img src="{{ asset('img/imgGM/medecinIcon.jpg') }}" alt="Image Description" style="width: 500px; height: auto;">
</div>
{% endblock %}
