{% extends 'Back/base.html.twig' %}

{% block main %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
				<h2 style="font-weight: bold; color: #2f64b1; text-align: center;">Modifier un Administrateur</h2>


    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

<div class="d-flex justify-content-center">
    <a class="btn">
        {{ form_widget(form.Submit, {'attr': {'class': 'btn btn-primary'}, 'label': 'Modifier'}) }}
    </a>
</div>                <div class="text-center">

                                                            <a href="{{ path('app_user_index_admin') }}">Retour à la liste</a>
</div>
                    {{ form_end(form) }}
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
